h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: black;
}

li {
    text-align: center;
    padding-right: 3em;
}

#edit {
    background-color: white;
    padding: 100px;
    margin-top: 50px;
    border-style: solid;
    border-color: black;
    border-width: thick;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    gap: 20px; /* Gap between grid items */
    padding: 20px;
    margin-top: 50px;
    border-style: solid;
    border-color: white;
    border-width: thick;
}

.petDiv {
    background-color: rgb(255, 255, 255);
    color: White;
    border-style: solid;
    border-color: white;
    border-width: thick;
    padding: 20px;
}

/* Hide the default file input element */
input[type="file"] {
    display: none;
}
  
/* Style the label to resemble a button */
label {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #eee;
}
  
/* Add hover effect for the label */
label:hover {
    background-color: #ddd;
}
