h2 {
    text-align: center;
}

#formDiv {
    background-color: slategray;
    color: white;
    padding: 20px;
    margin: 50px auto;
    border: thick solid white;
    max-width: 600px;
}

button[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #333;
}
