h1 {
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
    color: black;
}

li {
    text-align: left;
    list-style-type: none;
    margin-bottom: 15px;
  }

#edit {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: thick;
    width: 80%;
    margin: auto;
  }

  ul {
    background-color: #f5f5f5;
    padding: 20px;
  }

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    gap: 20px; /* Gap between grid items */
    margin-top: 50px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.animalDiv {
  background-color: rgb(255, 255, 255);
  color: White;
  border-style: solid;
  border-color: white;
  border-width: thick;
  padding: 20px;
}

.animalDiv img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px; 
}

.animalDiv h2 {
  margin: 5px 0;
  text-align: left;
}

.animalDiv button {
  margin-right: 5px;
  padding: 5px 10px; 
  cursor: pointer; 
}

/* Clearfix for floated buttons if necessary */
.animalDiv:after {
  content: "";
  display: table;
  clear: both;
}

  
/* Style the label to resemble a button */
label {
    display: inline-block;
    width: 120px; /* Set a width for the label */
    font-weight: bold;
    padding-left: 10px;
  }
  
/* Add hover effect for the label */
label:hover {
    background-color: #ddd;
}

input[type="text"],
input[type="file"],
select {
  width: 100%; /* Set width to 100% of the parent container */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
    background-color: #a48aeb; 
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    
  }