#list {
    background-color: White;
    color: Black;

    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
    padding-left: 100px;

    margin-top: 50px;

    border-style: solid;
    border-color: Black;
    border-width: thick;
}
#Pets{
    background-color: black;
    color: White;

    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
    padding-left: 100px;

    margin-top: 50px;

    border-style: solid;
    border-color: white;
    border-width: thick;

}