
body {
    background-color: #a082a0;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#animalsContainerDiv {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.animalDiv {
  width: 500px;
  height: 725px;
  background-color: #a082a0;
  border-radius: 13px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  box-sizing: border-box;
  margin: 16px;
  display: inline-block;
}

.animalDiv img {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.animalDiv h2 {
}

.animalDiv p {
    padding: 2px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    color: white;
}

.animalDiv .descriptionP {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.animalDiv button {
    width: calc(100% - 20px);
    background-color: #5dbfcc;
    border: none;
    border-radius: 13px;
    padding: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    color: white;
}

.animalDiv button:hover {
    background-color: white;
    color: #5dbfcc;
}

@media only screen and (max-width: 400px) {
    #animalsContainerDiv {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .animalDiv {
        width: 100%;   
        margin: 0px 0px 8px 0px;
    }
}



