body {
    background-color: #ccccff;
    text-align: center;
    font-family: 'RMU Gloria Regular', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%; 
  background-color: #ccccff;
}

#navigation {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding: 0;
  margin: 0;
  list-style: none; 
}

#navigation a {
  text-decoration: none;
  padding: 10px 15px;
  color: black; 
  margin: 0 10px; 
  background-color: #ccccff;
}

#navigation a.active {
  background-image: linear-gradient(to right, #8ca0f5 0%, #a48aeb 100%);
  color: black;
  border-radius: 20px; 
}

#navigation a:hover {
  background-color: #abb9f8; 
  color: black; 
  border-radius: 20px;
}

a:link {
  color: lightblue;
}

a:visited {
  color: lightblue;
}

a:active { 
  color: lightblue;
}

#tableDiv {
    width: 100%;
}

#tableRowDiv {
    width: 100%;
}

.tableCell {
    display: inline-block;
    margin: 8px;
}

header {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 0 20px; 
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  margin: 0; 
  font-size: 2em; 
  font-family: 'Satisfy', cursive;
  font-weight: 1200;
  font-style: normal;
}

h2 {
    color: black;
    margin: 0px;
}

h3 {
  font-family: 'Gill Sans', sans-serif;
  text-align: center;
  color: black;
  font-size: 32px;
}

p {
    margin: 0px;
}

.button {
  background-color: lightblue; 
  color: black;              
  padding: 15px 30px;         
  border: none;
  border-radius: 25px;       
  text-decoration: none;    
  font-size: 16px;            
  transition: background-color 0.3s;
}

.button-container {
  margin-top: 50px; 
  margin-bottom: 100px;
}

.button:hover {
  background-color: lightblue;
}

