body {
    background-color: #a082a0;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#navigation {
    margin: 20px
}

#navigation a.active {
  background-color: #5dbfcc;
  color: white;
}

#navigation a {
  color: #f2f2f2;
  text-align: center;
  padding: 10px 24px;
  text-decoration: none;
  font-size: 30px;
  border-radius: 20px;
  margin: 0px 12px 12px 0px;
}

@media only screen and (max-width: 400px) {
    #navigation a {
        color: #f2f2f2;
        text-align: center;
        padding: 8px 8px;
        text-decoration: none;
        font-size: 24px;
        border-radius: 20px;
        margin: 0px 6px 6px 0px;
    }
}

#navigation a:hover {
  background-color: gray;
  color: #5dbfcc;
}

a:link {
  color: #5dbfcc;
}

a:visited {
  color: #5dbfcc;
}

a:active { 
  color: white;
}

#tableDiv {
    width: 100%;
}

#tableRowDiv {
    width: 100%;
}

.tableCell {
    display: inline-block;
    margin: 8px;
}

h1 {
    font-family: 'Gill Sans', sans-serif;
    text-align: center;
    text-decoration: underline;
    color: white;
}

h2 {
    color: white;
    margin: 0px;
}

h3 {
  font-family: 'Gill Sans', sans-serif;
  text-align: center;
  color: white;
  font-size: 32px;
}

p {
    margin: 0px;
}

/* Styles for the button */
.button {
  background-color: white; 
  color: white;              
  padding: 15px 30px;         
  border: none;
  border-radius: 25px;       
  text-decoration: none;    
  font-size: 16px;            
  transition: background-color 0.3s;
}

.button-container {
  margin-top: 50px; 
  margin-bottom: 100px;
}

.button:hover {
  background-color: gray;
}

